include base
body
  .container
    header#header
      nav#nav-bar
        .nav-col 
          a(href="#") 
            img(src="/src/assets/images/common/logo_sm.png", alt="logo")#header-img
        .nav-col
          ul.nav-links.nav-links__social
            li
              a.nav-link(href="#twitter").i.icon-twitter.nav-link__social
            li
              a.nav-link(href="#discord").i.icon-discord.nav-link__social 
            li
              a.nav-link(href="#github").i.icon-github.nav-link__social 
        .nav-col
          ul.nav-links
            li.nav-link__wallet-word wallet 
            li
              a.nav-link(href="#connect").i.ib.icon-wallet 
            li
              a.nav-link(href="#question").i.ib.icon-question

    section.hero
      img(src="src/assets/images/common/Mask_Group_9.png", alt="background immage").top-right.absolute
      img(src="src/assets/images/common/Mask_Group_32.svg", alt="background immage").top-left.absolute
      img(src="src/assets/images/common/Mask_Group_33.png", alt="background immage").left-bottom.absolute

      .hero-main-container
        .hero-main-content
          img.hero-logo(src="src/assets/images/common/logo.png", alt="company logo")
          .hero-content
            h1#title
              span.robot first nfts 
              | on the Internet Computer
            p 10,000 randomly generated, unique collectible clowns with proof of ownership stored on the Internet Computer blockchain. Created as a reference to a meme comparing the Internet Computer token (ICP) with the Insane Clown Posse - an American hip hop duo founded in 1989.
            a(href="#")#connect.hero-content-btn.btn Connect your wallet
        .hero-main-bg-img
          img.hero-bg-img(src="src/assets/images/common/clown.png", alt="banner immage")

    main.clamed
        h2.title As we progress with how many ICPunks are given away, we have something special for you:
        .column-container.grid-on-lg
          .column.top-col
            h3.column-title.mid-title 20%
            p.column-subtitle.mid-title clamed
            p.column-content We send ICPunks to Dfinity team that helped us launch the project and supported us along the way.

          .column.top-col
            h3.column-title.mid-title 40%
            p.column-subtitle.mid-title clamed
            p.column-content We send ICPunks to influencers and supporters that helped us promote the project.

          .column.top-col
            h3.column-title.mid-title 60%
            p.column-subtitle.mid-title clamed
            p.column-content We send a free NFT to everyone who claimed an ICPunk!

          .column.top-col
            h3.column-title.mid-title 80%
            p.column-subtitle.mid-title clamed
            p.column-content We release a guide to rare ICPunks - check how valuable is your punk!

          .column.top-col
            h3.clamed-column-title.mid-title 100%
            p.column-subtitle.mid-title clamed
            p.column-content It’s a success! We launch a simple page to exchange your clowns with others.

    section#question.plan
      h2.title We also plan the future after all punks will be claimed:
      .grid-container
        .grid-col
          img(src="src/assets/images/common/Mask_Group_36.png")#sambrero
        .column-container.grid-col
          .column
            p.mid-title Q3 2021: 
            p.column-content Launch the ICPunks marketplace where you can trade, buy and sell your ICPunks for ICP tokens.
          .column
            p.mid-title Q4 2021: 
            p.column-content Open the ICPunks marketplace to other NFTs, and launch the first NFT marketplace on Internet Computer. New small collection will be distributed to our supporters!
          .column
            p.mid-title Q1 2021: 
            p.column-content Start experimenting with crosschain solutions, so that you can bring your favorite NFTs to Internet Computer from Ethereum or Binance Smart Chain.
          
    article.video-container
        h2.title How to get your 
          span.span|FREE ICPUNKS:
        .flex-container 
          .flex-item
            iframe#video(
              width='320',
              height='220', 
              src='https://www.youtube.com/embed/GRthtBAbdig',
              frameborder="0",
              allowfullscreen
              )

  section.form-container
    .container
      img(src="src/assets/images/common/Mask_Group_9.png").form-top-bg
      img(src="src/assets/images/common/Mask_Group_32.svg").form-mid-bg

      h2.title Join our newsletter
      p Stay up to date with our new releases

      form#form(action="https://www.freecodecamp.com/email-submit")
        input#email(
        name="email",
        type="email", 
        placeholder="Email",
        required
        )
        input#submit.btn(type="submit", value="send")

  footer.footer
    .container
      .footer-sotial-media
        p.footer-words Social Media
        ul.footer-icons
          li#twitter
            a(href="").i.icon-twitter
          li#discord
            a(href="").i.icon-discord
          li#github
            a(href="").i.icon-github

      .copyright Copyright @ ICPunks 2022. All rights reserved.
      
      script(src="./dist/js/main.min.js")
  //- script(src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js")



